@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/qumpellkano12');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@font-face {
  font-family: 'ChosunSm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-size-lg: calc(2rem + 4vw);
  --font-size-md: calc(1.5rem + 3vw);
  --font-size-sm: calc(1rem + 1vw);
  --font-size-ssm: calc(1rem + 0.2vw);
  --font-size-sssm: calc(0.5rem + 0.1vw);
}

.taviraj-regular {
  font-family: 'Taviraj', serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  opacity: 0;
  transition: opacity 1s ease;
}

.page.active {
  opacity: 1;
  animation: fade-in 3s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

._916939 {
  font-family: 'Taviraj', serif;
  color: #916939;
  font-size: var(--font-size-sm);
  text-align: center;
}

._black {
  font-family: 'Taviraj', serif;
  color: #000000;
  font-size: var(--font-size-ssm);
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.pic_container {
  position: absolute;
  top: 35vh;
  left: 1vw;
}

/* .ment_container {
  position: absolute;
  right: 1vw;
  bottom: -5vh;
  font-family: 'ChosunSm';
  font-size: var(--font-size-ssm);
  width: 50vw;
} */

.ment_container {
  position: fixed;
  right: 1vw;
  top: 45vh;
  width: 50vw;
  height: 10vw;
  background-image: url('./ment.png'); /* 배경 이미지로 설정 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ment_container {
  display: flex;
}

.name {
  font-size: var(--font-size-sm);
  font-weight: bold;
  width: 35%;
  text-align: right;
}

.middle {
  font-size: var(--font-size-sm);
  text-align: right;
  width: 30%;
}

._3_ment {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: right;
}

.pic_date {
  width: 30vw;
  height: 30vw;
  object-fit: cover;
}

p {
  margin: 0px;
  padding: 0px;
}

tr > td {
  text-align: center;
  font-family: 'Taviraj', serif;
  padding: 1vh 2vw;
}

tr > td > p {
  padding: 0px;
  margin: -10px;
}

.holiday {
  color: red;
}

.d_day {
  color: #916939;
  position: relative;
  font-weight: bold;
  background-image: url('./circle.png'); /* 배경 이미지로 설정 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

._9169392 {
  margin-left: 1vw;
  font-family: 'Taviraj', serif;
  color: #916939;
  font-size: var(--font-size-sm);
}

.img22 {
  width: 20vw;
  margin-left: 1vw;
}

.ment3 > p {
  font-family: 'ChosunSm';
  font-size: calc(1rem + 0.9vw);
  margin-left: 1vw;
  margin-top: 20px;
}

.explain_2 {
  margin-top: 5vh;
}

.ex_name {
  font-size: var(--font-size-sm);
  font-family: 'ChosunSm';
  letter-spacing: 4px;
}

.ex_name_name {
  font-size: var(--font-size-ssm);
  font-family: 'ChosunSm';
  margin-left: 5px;
  margin-right: 15px;
  width: 70px;
}

.sinboorang {
  color: #b69a79;
  font-size: calc(1rem + 0.8vw);
  letter-spacing: 2px;
  margin-right: 4px;
  font-family: 'ChosunSm';
}

.sin_name {
  color: #b69a79;
  font-size: calc(1rem + 1.6vw);
  font-family: 'ChosunSm';
  letter-spacing: 2px;
}

.namejitgittired {
  margin-top: 2vh;
  display: flex;
  align-items: baseline;
}

/* .d_day::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('./circle.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.25 !important;
  filter: alpha(opacity=25);
  z-index: -1;
} */

.explain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 50vh;
  font-family: 'ChosunSm';
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 50vh;
}

.map_img {
  width: 90vw;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.section3 > div {
  padding-top: 50px;
}

.time {
  font-family: 'ChosunSm';
  font-size: var(--font-size-sm);
  font-weight: bold;
  margin-bottom: 10px;
}

.loca {
  font-family: 'ChosunSm';
  font-size: var(--font-size-sm);
}

.way {
  font-family: 'ChosunSm';
  font-size: var(--font-size-sm);
  font-weight: 800;
  margin-bottom: 10px;
}

.map_div1 {
  font-family: 'ChosunSm';
  font-size: var(--font-size-ssm);
  color: #916939;
  font-weight: bold;
  margin-bottom: 5px;
}

.map_div2 {
  font-family: 'NanumSquare', sans-serif;
  font-size: var(--font-size-ssm);
  margin-bottom: 10px;
}

.redred {
  font-family: 'NanumSquare', sans-serif;
  font-size: var(--font-size-ssm);
  color: red;
}

.map_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.map_photo > img {
  width: 90vw;
  margin: 10px;
}

@media screen and (max-width: 450px) {
  .time {
    font-family: 'ChosunSm';
    font-size: calc(1rem + 1vw);
    font-weight: bold;
    margin-bottom: 10px;
  }

  .loca {
    font-family: 'ChosunSm';
    font-size: calc(1rem + 1vw);
  }

  .way {
    font-family: 'ChosunSm';
    font-size: calc(1rem + 1vw);
    font-weight: 800;
    margin-bottom: 10px;
  }

  .map_div1 {
    font-family: 'ChosunSm';
    font-size: calc(0.8rem + 0.1vw);
    color: #916939;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .map_div2 {
    font-family: 'NanumSquare', sans-serif;
    font-size: calc(0.8rem + 0.1vw);
    margin-bottom: 10px;
  }

  .redred {
    font-family: 'NanumSquare', sans-serif;
    font-size: calc(0.8rem + 0.1vw);
    color: red;
  }
}

@media screen and (max-width: 550px) {
  .map2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 700px) {
  .pic_container {
    position: absolute;
    top: 30vh;
    left: 1vw;
  }

  .pic_date {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
  }

  .section2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
  }

  ._9169392 {
    margin-left: 1vw;

    font-family: 'Taviraj', serif;
    color: #916939;
    font-size: var(--font-size-sm);
  }

  .img22 {
    width: 8vw;
  }

  .ment3 > p {
    font-family: 'ChosunSm';
    margin-top: 20px;
    font-size: var(--font-size-ssm);
  }

  .map_img {
    width: 50vw;
  }

  .section3 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .time {
    font-family: 'ChosunSm';
    font-size: var(--font-size-sm);
    font-weight: bold;
  }

  .map_photo {
    display: flex;
    flex-direction: row;
  }

  .map_photo > img {
    width: 20vw;
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .pic {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
  }

  .ment_container {
    position: fixed;
    right: 1vw;
    top: 40vh;
    width: 30vw;
    height: 10vw;
    background-image: url('./ment.png'); /* 배경 이미지로 설정 */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .map_img {
    width: 30vw;
  }

  .map_photo {
    display: flex;
    flex-direction: row;
  }

  .map_photo > img {
    width: 30vw;
    margin: 10px;
  }

  .section4 {
    display: none;
  }
}

/* .ment_container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: absolute;
    right: 0.1vw;
    bottom: -1vh;
    font-family: 'ChosunSm';
    font-size: var(--font-size-ssm);
    width: 20vw;
  } */
